@page "/viewing"
@using ServiceApp.Data
@using ServiceApp.Services
@inject DataBase dataBase
@inject NavigationManager Navigation
@inject FileSystemService fss
@inject ILocalStorageService LocalStorage
@inject IJSRuntime JS

<PageTitle>Project</PageTitle>

<div class="card">
    <h1 class="card-header">Project</h1>
    <div class="card-body">
        
    </div>
</div>

@code {
    
}